{% extends "TestBundle::base.html.twig" %}

{% block body %}
    <html lang="en-us">
    <head>
        <meta charset="windows-1252"></head>
    <body bgcolor=black><center><font color=white>
            <h2> HaCkHiPp0 Anonymous Mail Sender (For Educational Purpose Only) </h2>


    <Title>Fake Mailer</Title>

    <form action="{{ url }}" method="post"><br>


        To: <input type="text" name="to"><br>
        From: <input type="text" name="from"><br>
        Subject: <input type="text" name="subject"><br>
        Message:
        <textarea name="message"></textarea><br>
        <input type="submit" name="submit" value="Send"></form>
            </body>
    </html>
{% endblock %}